.header-tel {
  margin-left: 39px;
  a {
    display: block;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #000000;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
  }
}