html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* This stylesheet generated by Transfonter (https://transfonter.org) on June 26, 2017 11:20 AM */
.advantages {
  margin-bottom: 122px;
}
.advantages__heading {
  max-width: 600px;
  margin: 0 auto 33px auto;
}
.advantages__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 895px;
  width: 100%;
  margin: 0 auto;
}
.advantages__item {
  max-width: 222px;
}
.advantages__img {
  background-color: #FFC700;
  width: 145px;
  height: 145px;
  margin: 0 auto 17px auto;
  border-radius: 50%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.advantages__img img {
  position: absolute;
  max-width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.advantages__text {
  font-size: 24px;
  line-height: 113.5%;
  text-align: center;
  color: #000000;
}

.sidebar-nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar-nav__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
}
.sidebar-nav__li:last-of-type {
  margin-bottom: 0;
}
.sidebar-nav__li:first-of-type img, .sidebar-nav__li:nth-of-type(5) img {
  margin-right: 17px;
}
.sidebar-nav img {
  margin-right: 15px;
}
.sidebar-nav a {
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.home-page main {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.home-page main article {
  width: calc(100% - 216px);
  padding: 0 72px;
  position: relative;
}
.home-page .get-pool {
  margin-bottom: 120px;
}

.shop-page .header {
  margin-bottom: 35px;
}

.label-checkbox {
  display: block;
  font-family: "Circe_light";
  font-size: 13px;
  line-height: 27px;
  margin-bottom: 11px;
  color: #FFFFFF;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: font-size 0.3s;
  -o-transition: font-size 0.3s;
  transition: font-size 0.3s;
}
.label-checkbox:hover {
  font-size: 15px;
}
.label-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.label-checkbox input:checked ~ span {
  background-color: #fff;
}
.label-checkbox input:checked ~ span:after {
  display: block;
}
.label-checkbox span {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 13px;
  width: 13px;
  background-color: #181D1F;
  border-radius: 2px;
  border: 1px solid #636363;
}
.label-checkbox span:after {
  content: "";
  position: absolute;
  display: none;
  left: 3px;
  top: 0.5px;
  width: 3px;
  height: 7px;
  border: solid #181D1F;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.side-form__search-title {
  margin-top: 24px;
}
.side-form__search-text {
  max-width: 115px;
  display: inline-block;
  background-color: transparent;
  border-bottom: 1px solid #636363;
  padding: 4px 3px 4px 1px;
  margin-right: -4px;
  color: #fff;
}
.btn {
  display: inline-block;
  border: none;
  outline: none;
  border-radius: 1px;
  background-color: #fff;
  color: #181D1F;
  text-align: center;
  font-size: 18px;
  font-family: "Circe";
  cursor: pointer;
  padding: 3px 18px 4px 18px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.btn:hover {
  -webkit-box-shadow: inset 0 0 2px 1px black;
          box-shadow: inset 0 0 2px 1px black;
}
.btn--know-price {
  background-color: #181D1F;
  padding: 9.5px 21px;
  color: #fff;
}
.btn--know-price:hover {
  -webkit-box-shadow: 0 0 7px -1px grey;
          box-shadow: 0 0 7px -1px grey;
}
.btn--get-pool {
  font-family: "Circe-bold";
  padding: 9px 21px 9px 21px;
  margin-top: -1px;
}
.btn--get-pool:hover {
  -webkit-box-shadow: 0 0 9px 1px #1F86CA;
          box-shadow: 0 0 9px 1px #1F86CA;
}
.btn--show-all {
  font-family: "Circe_light";
  padding: 9.5px 45px;
  background: #181D1F;
  color: #fff;
  -webkit-transition: background-color 0.3s, opacity 0.3s;
  -o-transition: background-color 0.3s, opacity 0.3s;
  transition: background-color 0.3s, opacity 0.3s;
}
.btn--show-all.hidden {
  opacity: 0;
}
.btn--show-all:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #4C5153;
}
.btn--goods-catalog {
  background-color: #181D1F;
  border-radius: 4px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  padding: 9.5px 18px 9.5px 17px;
  margin-right: auto;
}
.btn--goods-catalog:hover {
  -webkit-box-shadow: 0 0 9px 0px #B2B4B5;
          box-shadow: 0 0 9px 0px #B2B4B5;
}
.btn--goods-catalog svg {
  margin-right: 11px;
  height: 10px;
  width: 10px;
}
.btn--goods-catalog svg path {
  fill: #fff;
}
.btn--all-category {
  text-decoration: underline;
  font-size: 14px;
  text-underline-position: under;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-family: "Circe-bold";
  position: relative;
  background-color: transparent;
}
.btn--all-category:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.heading {
  font-family: "Circe-bold";
  font-size: 36px;
  line-height: 113.5%;
  color: #000000;
  margin-bottom: 12px;
}

.s-heading {
  font-family: "Circe_light";
  font-size: 36px;
  line-height: 113.5%;
  color: #000000;
  margin-bottom: 32px;
}

.slide-heading {
  font-family: "Circe-bold";
  font-size: 30px;
  line-height: 113.5%;
  text-align: center;
  color: #000000;
  margin-bottom: 37px;
}

.gallery-item {
  max-width: 327px;
  width: 100%;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  position: relative;
  display: none;
}
.gallery-item:hover {
  -webkit-box-shadow: 0 0 9px 0 #0585A1;
          box-shadow: 0 0 9px 0 #0585A1;
}
.gallery-item__descript {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  bottom: 18px;
  left: 0;
  padding: 0 20px;
}
.gallery-item__text {
  margin-right: 10px;
  font-family: "Circe_light";
  max-width: 216px;
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF;
}
.gallery-item__img-wrap {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(53.12%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.53)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 53.12%, rgba(0, 0, 0, 0.53) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.12%, rgba(0, 0, 0, 0.53) 100%);
}
.gallery-item__img {
  vertical-align: middle;
  max-width: 100%;
}

.breadcrumbs {
  margin-bottom: 17px;
}
.breadcrumbs li {
  display: inline-block;
  position: relative;
}
.breadcrumbs li:after {
  content: "/";
  color: #949494;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.breadcrumbs li:last-child a:hover {
  text-decoration: none;
}
.breadcrumbs a {
  font-size: 14px;
  line-height: 113.5%;
  color: #949494;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}

.sliders-nav {
  display: none;
  background-color: transparent;
  position: absolute;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.sliders-nav:hover {
  -webkit-transform: scale(1.1) translateY(-50%);
      -ms-transform: scale(1.1) translateY(-50%);
          transform: scale(1.1) translateY(-50%);
}
.sliders-nav__next {
  right: 8px;
}
.sliders-nav__prev {
  left: 8px;
}

.companies-slider__wrap {
  margin: 0 38px;
}
.companies-slider a img {
  max-width: 100%;
}
.companies-slider .sliders-nav__next {
  right: -47px;
}
.companies-slider .sliders-nav__prev {
  left: -47px;
}
.companies-slider .slick-slide {
  margin-right: 24px;
}

.images-slider {
  margin-bottom: 31px;
}
.images-slider__wrap img {
  max-height: 258px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.companies-slider {
  margin-bottom: 74px;
}
.companies-slider .slick-list {
  margin-right: -24px;
}
.companies-slider__wrap img {
  max-height: 66px;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-popular-category {
  text-align: center;
  margin-bottom: 74px;
}
.slide-popular-category .sliders-nav__prev {
  left: -34px;
}
.slide-popular-category .sliders-nav__next {
  right: -34px;
}
.slide-popular-category__wrap {
  margin: 0 25px 22px 25px;
}
.slide-popular-category .slick-slide {
  margin-right: 10px;
  margin-left: 11px;
}
.slide-popular-category .slick-list {
  margin-right: -4px;
}
.slide-popular-category .btn {
  position: relative;
  top: -17px;
}

.product-list {
  text-align: center;
  margin-bottom: 74px;
}
.product-list__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product {
  display: none;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  cursor: pointer;
  position: relative;
  width: calc((100% - 80px) / 5);
  padding-bottom: 12px;
  margin-bottom: 20px;
}
.product:hover {
  -webkit-box-shadow: 0 2px 22px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 22px rgba(0, 0, 0, 0.2);
}
.product__sale {
  display: none;
  position: absolute;
  z-index: 2;
  left: 5px;
  top: 8px;
  background-image: url(../../resources/img/shop/all-sales/sale-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5px 6px;
  font-family: "Circe-bold";
  font-size: 14px;
  color: #FFFFFF;
}
.product--sale .product__sale {
  display: inline-block;
}
.product__img {
  position: relative;
  padding-bottom: 47.711377%;
}
.product__img img {
  position: absolute;
  z-index: 1;
  -o-object-fit: contain;
     object-fit: contain;
  width: 88%;
  height: 88%;
  top: 6%;
  left: 6%;
}
.product__basket {
  position: absolute;
  z-index: 2;
  right: 15px;
  top: 13px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.product__basket:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.product__price {
  font-family: "Circe-bold";
}
.product__descript {
  padding: 0 13px;
  text-align: center;
}
.product__text {
  font-family: "Circe";
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 18px;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Circe";
}

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  background-color: #E5E5E5;
}

span {
  display: inline-block;
}

.layer-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: -10;
}
.layer-bg.active {
  z-index: 4;
  opacity: 1;
  visibility: visible;
}

.main-wrapper {
  max-width: 1443px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}

.content-wrapper {
  width: calc(100% - 216px);
  margin-left: 216px;
  padding: 0 15px;
  background-color: #fff;
}

.content {
  max-width: 1089px;
  width: 100%;
  margin: 0 auto;
}

.top-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-links:nth-of-type(2) {
  margin-left: 39px;
}
.top-links:hover {
  text-decoration: underline;
}
.top-links img {
  margin-right: 10px;
}
.top-links span {
  font-size: 14px;
  line-height: 13px;
  color: #000000;
}

.header-tel {
  margin-left: 39px;
}
.header-tel a {
  display: block;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  color: #000000;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header-tel a:hover {
  opacity: 0.7;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.address img {
  margin-right: 11px;
}

.basket {
  margin-left: 42px;
}

.company-data {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.company-data img {
  margin-right: 11px;
}
.company-data--clock {
  margin-right: auto;
}
.company-data__text span {
  font-style: normal;
  font-size: 14px;
  line-height: 15px;
  color: #444444;
  display: block;
}

.sidebar-social {
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidebar-social a {
  width: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar-social a:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.sidebar-social a:first-of-type {
  margin-right: 13px;
}
.sidebar-social a img {
  width: 100%;
}

.sidebar-footer {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar-footer a {
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.sidebar-footer a:hover {
  opacity: 0.7;
}

.right-slide {
  width: calc(100% - 216px);
  padding: 0 72px;
  position: relative;
}
.right-slide .left-popup__open {
  cursor: pointer;
  position: fixed;
  z-index: 5;
  right: 0;
  top: 130px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #181D1F;
}
.right-slide .left-popup__open:hover {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}
.right-slide .left-popup__open img {
  width: 21px;
}
.right-slide .left-popup {
  width: 264px;
  position: fixed;
  z-index: -1;
  right: -264px;
  top: 0;
  min-height: 100vh;
  padding: 75px 26px 30px 32px;
  background: #181D1F;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.right-slide .left-popup p {
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 14px;
}
.right-slide .left-popup__close {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #181D1F;
  position: absolute;
  top: 130px;
  left: -50px;
  width: 50px;
  height: 50px;
}
.right-slide .left-popup__close:hover {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}
.right-slide .left-popup__close img {
  width: 19px;
}
.right-slide .left-popup--active {
  right: 0 !important;
  z-index: 500 !important;
}

.pool-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 130px;
  margin-bottom: 108px;
}
.pool-gallery__descript {
  max-width: 326px;
  margin-right: 85px;
}
.pool-gallery__gallery {
  max-width: 672px;
  width: 100%;
}
.pool-gallery__gallery-wrap {
  margin-bottom: 32px;
}
.pool-gallery__text {
  font-size: 24px;
  line-height: 121.5%;
  color: #000000;
  margin-bottom: 84px;
}

.load-more {
  text-align: center;
}
.load-more span {
  font-family: "Circe-bold";
  font-size: 18px;
  line-height: 113.5%;
  color: #000000;
  padding-bottom: 12px;
  border-bottom: 2px solid #606060;
  cursor: pointer;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.load-more span:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.pool-item {
  position: relative;
  width: calc((100% - 58px)/ 3);
  margin: 0 0 29px 0;
  display: none;
}
.pool-item__title {
  font-family: "Circe-bold";
  font-size: 20px;
  line-height: 113.5%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0 25px;
  position: absolute;
  top: 22px;
  left: 0;
  width: 100%;
}
.pool-item__img {
  background: -webkit-gradient(linear, left top, left bottom, from(#181D1F), color-stop(53.62%, rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, #181D1F 0%, rgba(0, 0, 0, 0) 53.62%);
  background: linear-gradient(180deg, #181D1F 0%, rgba(0, 0, 0, 0) 53.62%);
  margin-bottom: 13px;
  position: relative;
  padding-bottom: 70.71097%;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.pool-item__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.pool-item__text {
  font-size: 16px;
  color: #000000;
  font-family: "Circe-bold";
  margin-right: 13px;
  text-transform: uppercase;
}
.pool-item__text span {
  font-size: 16px;
  margin-left: 7px;
  text-transform: none;
}

.most-popular__title {
  font-family: "Circe";
  font-size: 24px;
  line-height: 27px;
  text-align: center;
  color: #000000;
  margin-bottom: 53px;
}
.most-popular__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.most-popular__btn-all {
  text-align: center;
}

.popular-category {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  max-width: 151px;
  width: 100%;
  padding: 22px 13px 21px 13px;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  margin-bottom: 15px;
  margin-top: 15px;
}
.popular-category:hover {
  -webkit-box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 14px rgba(0, 0, 0, 0.2);
}
.popular-category__img {
  text-align: center;
  margin-bottom: 14px;
  position: relative;
  padding-bottom: 47.444%;
}
.popular-category__img img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  margin: 0 auto;
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  left: 5%;
}
.popular-category__text {
  text-align: center;
  font-family: "Circe";
  font-size: 14px;
  line-height: 1;
  color: #000000;
}

.get-pool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 268px;
  margin: 0 -15px;
  padding: 70px 71px 30px 71px;
}
.get-pool__descript {
  max-width: 428px;
  width: 100%;
  margin-right: 100px;
}
.get-pool__text {
  width: 91%;
  font-family: "Circe_ExtraLight";
  font-size: 18px;
  line-height: 121.5%;
  color: #FFFFFF;
}
.get-pool__title {
  font-family: "Circe-bold";
  font-size: 24px;
  line-height: 113.5%;
  color: #FFFFFF;
  margin-bottom: 21px;
}
.get-pool__form {
  max-width: 341px;
  margin-top: 22px;
  width: 100%;
  text-align: right;
}
.get-pool__input-wrap {
  text-align: left;
  max-width: 212px;
  width: 100%;
}
.get-pool__input {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
  padding: 0 4px 3px 4px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.get-pool__input:focus {
  border-color: #1F86CA;
}
.get-pool__input::-webkit-input-placeholder {
  /* Edge */
  font-size: 14px;
  color: #D9D9D9;
}
.get-pool__input:-ms-input-placeholder {
  /* Internet Explorer */
  font-size: 14px;
  color: #D9D9D9;
}
.get-pool__input::-moz-placeholder {
  font-size: 14px;
  color: #D9D9D9;
}
.get-pool__input::-ms-input-placeholder {
  font-size: 14px;
  color: #D9D9D9;
}
.get-pool__input::placeholder {
  font-size: 14px;
  color: #D9D9D9;
}
.header {
  position: relative;
  margin-bottom: 26px;
}
.header:after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #E5E5E5;
  width: 120vw;
  margin-right: -300px;
  left: -276px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1443px;
}
.header__logo {
  width: 216px;
  padding: 24px 45px 0 29px;
  background: -webkit-gradient(linear, left bottom, left top, from(#F3F5F7), to(#F3F5F7)), #181D1F;
  background: -o-linear-gradient(bottom, #F3F5F7, #F3F5F7), #181D1F;
  background: linear-gradient(0deg, #F3F5F7, #F3F5F7), #181D1F;
}
.header__logo a {
  width: 142px;
}
.header__logo a img {
  width: 100%;
}
.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 20px 0 20px 0;
  background: #FFFFFF;
}
.header__basket {
  margin-left: 42px;
}

.sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  min-height: calc(100vh - 75px);
  padding: 26px 30px 26px 30px;
  width: 216px;
  background: -webkit-gradient(linear, left bottom, left top, from(#F3F5F7), to(#F3F5F7)), #181D1F;
  background: -o-linear-gradient(bottom, #F3F5F7, #F3F5F7), #181D1F;
  background: linear-gradient(0deg, #F3F5F7, #F3F5F7), #181D1F;
  z-index: 1;
}
.sidebar__adress {
  position: relative;
  top: 53%;
}
.sidebar__logo {
  margin-bottom: 43px;
}
.sidebar__logo a {
  display: inline-block;
}
.sidebar__logo img {
  display: inline-block;
  max-width: 142px;
  height: auto;
}
/*# sourceMappingURL=app.css.map*/