.heading {
  font-family: 'Circe-bold';
  font-size: 36px;
  line-height: 113.5%;
  color: #000000;
  margin-bottom: 12px;
}
.s-heading {
  font-family: 'Circe_light';
  font-size: 36px;
  line-height: 113.5%;
  color: #000000;
  margin-bottom: 32px;
}
.slide-heading {
  font-family: 'Circe-bold';
  font-size: 30px;
  line-height: 113.5%;
  text-align: center;
  color: #000000;
  margin-bottom: 37px;
}