.side-form {

  &__label {

  }
  &__search-title {
    margin-top: 24px;
  }
  &__submit-wrap {

  }
  &__search-text {
    max-width: 115px;
    display: inline-block;
    background-color: transparent;
    border-bottom: 1px solid #636363;
    padding: 4px 3px 4px 1px;
    margin-right: -4px;
    color: #fff;
  }
  &__btn {

  }
}